/* Color Theme Swatches in Hex */
.Star-Wars:-Dome-360-​​Video-1-hex { color: #0F2440; }
.Star-Wars:-Dome-360-​​Video-2-hex { color: #1D4B73; }
.Star-Wars:-Dome-360-​​Video-3-hex { color: #71BBD9; }
.Star-Wars:-Dome-360-​​Video-4-hex { color: #B3E0F2; }
.Star-Wars:-Dome-360-​​Video-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Star-Wars:-Dome-360-​​Video-1-rgba { color: rgba(14, 35, 63, 1); }
.Star-Wars:-Dome-360-​​Video-2-rgba { color: rgba(28, 74, 114, 1); }
.Star-Wars:-Dome-360-​​Video-3-rgba { color: rgba(112, 187, 216, 1); }
.Star-Wars:-Dome-360-​​Video-4-rgba { color: rgba(179, 224, 242, 1); }
.Star-Wars:-Dome-360-​​Video-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Star-Wars:-Dome-360-​​Video-1-hsla { color: hsla(213, 62, 15, 1); }
.Star-Wars:-Dome-360-​​Video-2-hsla { color: hsla(208, 60, 28, 1); }
.Star-Wars:-Dome-360-​​Video-3-hsla { color: hsla(196, 57, 64, 1); }
.Star-Wars:-Dome-360-​​Video-4-hsla { color: hsla(196, 71, 82, 1); }
.Star-Wars:-Dome-360-​​Video-5-hsla { color: hsla(0, 0, 5, 1); }




/* Color Theme Swatches in Hex */
.SoundBlade:-BlueAnt-|-promotional-video-1-hex { color: #011526; }
.SoundBlade:-BlueAnt-|-promotional-video-2-hex { color: #025E73; }
.SoundBlade:-BlueAnt-|-promotional-video-3-hex { color: #0396A6; }
.SoundBlade:-BlueAnt-|-promotional-video-4-hex { color: #04D9D9; }
.SoundBlade:-BlueAnt-|-promotional-video-5-hex { color: #B4F22E; }

/* Color Theme Swatches in RGBA */
.SoundBlade:-BlueAnt-|-promotional-video-1-rgba { color: rgba(0, 20, 38, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-2-rgba { color: rgba(2, 94, 114, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-3-rgba { color: rgba(3, 149, 165, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-4-rgba { color: rgba(4, 216, 216, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-5-rgba { color: rgba(180, 242, 46, 1); }

/* Color Theme Swatches in HSLA */
.SoundBlade:-BlueAnt-|-promotional-video-1-hsla { color: hsla(208, 96, 7, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-2-hsla { color: hsla(191, 96, 22, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-3-hsla { color: hsla(185, 96, 33, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-4-hsla { color: hsla(180, 96, 43, 1); }
.SoundBlade:-BlueAnt-|-promotional-video-5-hsla { color: hsla(78, 88, 56, 1); }
